:root {
  scroll-padding-top: calc(var(--vp-nav-height) + 30px);
}

:root:not(.dark) {
  // Cores de destaque (links, algumas bordas ou efeitos de hover)
  --vp-c-brand-1: hsl(114deg 73.93% 31.91%)!important;
  --vp-c-brand-2: var(--vp-c-green-2)!important;
  --vp-c-brand-3: var(--vp-c-green-3)!important;
  --vp-c-brand-soft: var(--vp-c-green-soft)!important;
  // Cores utilizadas na home
  --sb-foreground-highlight: hsl(112.63deg 37.87% 49.66%);
  --sb-foreground-highlight-high: hsl(165deg 62.67% 46.6%);

  // Ajuste de contraste na cor dos blocos de informação
  --vp-custom-block-info-text: hsl(220 10% 36%);
  --vp-custom-block-warning-text: hsl(45, 90%, 28%);
}

:root.dark {
  // Variações das cores para o tema escuro
  --vp-c-black: hsl(220 20% 9%);

  // Cores de fundo
  --vp-c-gutter: hsl(220 20% 9%);
  --vp-c-bg: hsl(219, 19%, 18%);
  --vp-c-bg-alt: hsl(220 20% 9%);
  --vp-c-bg-soft: hsl(220 14% 17%);
  --vp-c-bg-mute: hsl(220 12% 23%);
  --vp-custom-block-info-bg: hsl(220 14% 17%);

  // Cores de destaque (links, algumas bordas ou efeitos de hover)
  --vp-c-brand-1: var(--vp-c-green-1)!important;
  --vp-c-brand-2: var(--vp-c-green-2)!important;
  --vp-c-brand-3: var(--vp-c-green-3)!important;
  --vp-c-brand-soft: var(--vp-c-green-soft)!important;
  // Cores utilizadas na home
  --sb-foreground-highlight: hsl(112.63deg 37.87% 49.66%);
  --sb-foreground-highlight-high: hsl(165deg 87.41% 40.94%);

  // Ajuste de contraste na cor dos blocos de informação
  --vp-custom-block-info-text: hsl(220 50% 85%);
  --vp-custom-block-danger-text: hsl(340, 100%, 66%);
}
